body
{
    margin:0;
    pading:0;
    background:url(background.jpg);
    background size:cover;
    background position: center;
    font-family: sans-serif;
}
.loginbox
{
    width:250px;
    height:100px;
    background: rgb(97, 121, 96);
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box sizing: border-box;
    padding: 50px 50px;
}
.loginbox p
{
    margin:0;
    padding:0;
    font-weight: bold;
}
